workflow_editing.json
{
    "nodes": [
        {
            "parameters": {
                "options": {}
            },
            "id": "fe285f79-9646-4d69-a0ec-af048bea4ad8",
            "name": "Loop Over Items2",
            "type": "n8n-nodes-base.splitInBatches",
            "position": [
                15216,
                5584
            ],
            "typeVersion": 3
        },
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "data",
                            "type": "array"
                        }
                    ]
                }
            },
            "id": "780a72ca-2d58-4b7d-a9fa-0b2662ed578f",
            "name": "EDITING",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "position": [
                14848,
                5584
            ],
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "dd994bd2-d3c2-4b4e-806c-b97666f7c1d8",
            "name": "Split Out",
            "type": "n8n-nodes-base.splitOut",
            "position": [
                15008,
                5584
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "6651a68e-b616-4a24-b847-bc8f14bf915c",
                            "operator": {
                                "name": "filter.operator.equals",
                                "type": "string",
                                "operation": "equals"
                            },
                            "leftValue": "={{ $json.step }}",
                            "rightValue": "subtitles"
                        }
                    ]
                },
                "options": {}
            },
            "id": "93c671e5-aec7-42cf-9076-9ac4c943a034",
            "name": "if operation is subtitles",
            "type": "n8n-nodes-base.if",
            "position": [
                15456,
                5584
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "executeOnce": false,
                "command": "={{ $json.command }}"
            },
            "id": "4e8987ec-66c3-45e5-b8df-2e6ed68b6049",
            "name": "Execute operation on the clip",
            "type": "n8n-nodes-base.executeCommand",
            "position": [
                15728,
                5712
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "amount": 60
            },
            "id": "5087392d-73fc-491b-aec2-cae05fe94c1c",
            "name": "Wait (according to how powerful your system is and how much ram you have)",
            "type": "n8n-nodes-base.wait",
            "position": [
                15936,
                5712
            ],
            "webhookId": "028d083c-7e5a-48ec-ba53-80622cc221b9",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "executeOnce": false,
                "command": "=ffprobe -v error -select_streams v:0 -show_entries stream=width,height -of json \"{{$json[\"inputFile\"]}}\"\n"
            },
            "id": "b79b2507-99a7-4805-b1b4-2f2325f2237d",
            "name": "find height & width",
            "type": "n8n-nodes-base.executeCommand",
            "position": [
                15728,
                5456
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "jsCode": "return items.map((item, index) => {\n  \n  // 1) Get ffprobe output\n  const ffprobe = JSON.parse(item.json.stdout);\n  const stream = ffprobe.streams[0];\n\n  const videoWidth = stream.width;\n  const videoHeight = stream.height;\n\n  // 2) Get original task data from before ffprobe\n  const original = $item(index).$node[\"if operation is subtitles\"].json;\n\n  const inputFile  = original.inputFile;\n  const outputFile = original.outputFile;\n  const srtFile    = original.srtFile;\n\n  if (!inputFile || !outputFile || !srtFile) {\n      throw new Error(\"Missing inputFile/outputFile/srtFile from If node.\");\n  }\n\n// Math.round(videoWidth * 0.085);\n// Math.round(videoHeight * 0.12);\n//   // 3) Dynamic scaling\n  const fontSize = 12;\n  const marginV  = 50;\n\n  // 4) Subtitle styling\n  const fontName = 'Arial';\n  const primaryColor = '&H00FFFF&';\n  const borderColor  = '&H000000&';\n  const outlineWidth = 1;\n  const alignment    = 2;\n\n  const subtitlesFilter =\n    `subtitles=${srtFile}:force_style=` +\n    `'FontName=${fontName},FontSize=${fontSize},PrimaryColour=${primaryColor},` +\n    `OutlineColour=${borderColor},Outline=${outlineWidth},Bold=1,Alignment=${alignment},MarginV=${marginV},WrapStyle=2'`;\n\n  // 5) Final ffmpeg command\n  const command =\n    `ffmpeg -i \"${inputFile}\" -vf \"${subtitlesFilter}\" ` +\n    `-c:v libx264 -preset fast -crf 23 -c:a copy \"${outputFile}\"`;\n\n  // 6) Output back\n  item.json.videoWidth  = videoWidth;\n  item.json.videoHeight = videoHeight;\n  item.json.fontSize    = fontSize;\n  item.json.marginV     = marginV;\n  item.json.command     = command;\n\n  return item;\n});\n"
            },
            "id": "b3a4f5bd-ab6b-4f92-8a4f-caa9215ce18f",
            "name": "calculate relative subtitle size",
            "type": "n8n-nodes-base.code",
            "position": [
                15936,
                5456
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "command": "={{$json[\"command\"]}}\n"
            },
            "id": "8df15d18-a112-4f4e-816e-16a791123272",
            "name": "burn subtitles",
            "type": "n8n-nodes-base.executeCommand",
            "position": [
                16128,
                5456
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "amount": 60
            },
            "id": "74c21991-5a3b-4b25-97d1-e2c47b790f28",
            "name": "Wait",
            "type": "n8n-nodes-base.wait",
            "position": [
                16320,
                5456
            ],
            "webhookId": "3bc52ce2-6479-4861-9b04-12d6ea198320",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "content": "## executing editing commands on the clips\nTake this into a seperate workflow, and configure the call sub-workflow node",
                "height": 512,
                "width": 1728,
                "color": 3
            },
            "id": "20c57cee-d7cb-4206-9361-b5e0c985193b",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                14784,
                5424
            ],
            "typeVersion": 1
        }
    ],
    "connections": {
        "Loop Over Items2": {
            "main": [
                [],
                [
                    {
                        "node": "if operation is subtitles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "EDITING": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "Loop Over Items2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "if operation is subtitles": {
            "main": [
                [
                    {
                        "node": "find height & width",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute operation on the clip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute operation on the clip": {
            "main": [
                [
                    {
                        "node": "Wait (according to how powerful your system is and how much ram you have)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (according to how powerful your system is and how much ram you have)": {
            "main": [
                [
                    {
                        "node": "Loop Over Items2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "find height & width": {
            "main": [
                [
                    {
                        "node": "calculate relative subtitle size",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "calculate relative subtitle size": {
            "main": [
                [
                    {
                        "node": "burn subtitles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "burn subtitles": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Loop Over Items2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "746feac036c80de4b5bb0986819db21ff87e7eb0c20c1720685b64034c87f152"
    }
}